<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Prénom</label>
    <input type="text" formControlName="firstname" placeholder="votre prénom" />
    <div *ngIf="
        profileForm.controls['firstname'].invalid &&
        profileForm.controls['firstname'].touched
      ">
      Champs invalide
    </div>
  </div>
  <div>
    <label>Nom</label>
    <input type="text" formControlName="lastname" />
    <div *ngIf="
        profileForm.controls['lastname'].invalid &&
        profileForm.controls['lastname'].touched
      ">
      Nom invalide
    </div>
  </div>

  <!--Ajouter message d'erreur-->
  <div *ngIf="profileForm.errors?.['verifyPassword']">
    Les mots de passe doivent être identiques
  </div>

  <div>
    <label>Password</label>
    <input type="text" formControlName="pwd" />
  </div>
  <div>
    <label>Confirm Password</label>
    <input type="text" formControlName="confirmpwd" />
  </div>

  <button [disabled]="profileForm.invalid" type="submit">OK</button>
</form>
